
<h1>Total:</h1><%=@total %>
<h1>Number of Proceedings:</h1><%=@number_of_proceedings %>
<h1>Total Spent This Month:</h1><%=@spent_this_month %>
<h1>Total Spent Last Month:</h1><%=@spent_last_month %>
<h1>Number of Proceedings This Month:</h1><%=@proceedings_this_month %>
<h1>Number of Proceedings Last Month:</h1><%=@proceedings_last_month %>
<h1>Biggest Withdrawal this Month:</h1><%=@biggest_withdrawal_this_month  %>
<h1>Biggest Withdrawal:</h1><%=@biggest_withdrawal  %>






<footer>
<%=link_to "Proceedings", proceedings_path %>
<%=link_to "New Proceeding", new_proceeding_path %>
</footer>
