
<h1>Total:</h1><%=@total %>
<h1>Number of Proceedings:</h1><%=@number_of_proceedings %>
<h1>Total Spent Within the Last Year:</h1><%=@spent %>

<footer>
<%=link_to "Proceedings", proceedings_path %>
<%=link_to "New Proceeding", new_proceeding_path %>
</footer>
